$primary: #1e5bee;

$c-blue-1 :#F4F7FE ; 
$c-black-1: #121212;
$c-black-2 : #130F26;
$c-white-1: #f4f4f4;
$c-gray-1: #ffffff80;
$c-gray-2: #ffffff1a;
$c-gray-3: #545454;
$c-gray-4: #999999;
$c-red-1: #FF3B30 ; 
